<launch>

  <!-- arguments -->
  <arg name="bagpath" default="/media/psf/Home/Google\ Drive/GAVLAB/data/mkz/dual_antenna_1_15_18"/>
  <arg name="filename" default="dual_antenna_2018-01-15-17-15-36.bag"/>
  <!-- <arg name="filename" default="dual_antenna_2018-01-15-17-21-16.bag"/> -->

  <!-- rosbag play -->
  <param name="use_sim_time" value="true"/>
  <node name="rosbag" pkg="rosbag" type="play" args=" --clock $(arg bagpath)/$(arg filename)" output="screen" required="true">
      <!-- <remap from="/clock" to="/clock_live"/> -->
  </node>


  <!-- GPS/INS -->
  <node pkg="ins_ekf" type="gps_ins_node" name="gps_ins_node" output="screen" >

    <!-- Note: parameters declared in the launch file will overwrite those in the yaml file -->
    <!-- Left antenna -->
    <!-- <rosparam file="$(find path_duplication_launch)/config/kvh1725_leftAntenna.yaml" command="load" /> -->
    <!-- Right antenna -->
    <rosparam file="$(find path_duplication_launch)/config/kvh1725_rightAntenna.yaml" command="load" />
        
    <param name="queue_size" value="10000"/>

  </node>

  <!-- Start the drtk node -->
  <node pkg="drtk" type="drtk_ros_node" name="drtk_node" output="screen" required="true">

      <!-- Name ROS topics -->
      <param name="raw_measurements_tagged_local_topic_name"  type="str" value="/novatel_rear/rawMeasurementsTagged" />
      <param name="ecef_odometry_local_topic_name"  type="str" value="/novatel_rear/odom" />
      <param name="gps_ephemeris_tagged_topic_name"  type="str" value="/novatel_rear/gpsEphemerisTagged" />

      <param name="raw_measurements_tagged_remote_topic_name"  type="str" value="/novatel_front/rawMeasurementsTagged" />

      <param name="drtk_output_topic_name"  type="str" value="drtkOutput" />

      <param name="elevation_mask_angle_deg" value="15.0" />

      <param name="carrier_to_noise_threshold" value="35.0" />

      <param name="max_raw_measurement_queue_size" value="25" />
      
  </node>

    <node pkg="wgs_conversions" type="wgs_conversions_server" name="wgs_conversions_server" output="screen" required="true"/>

    <node pkg="path_duplication_launch" type="dual_antenna.py" name="dual_antenna" output="screen" required="true"/>

  <!-- Start the tdcp node -->
  <include file="$(find path_duplication_launch)/launch/tdcp.launch"/>

  <node pkg="rosbag" type="record" name="bagger" args="-a -b 0 -O z_drtk_$(arg filename)" output="screen"/>


</launch>