<launch>

  <!-- GPS/INS -->
  <node pkg="ins_ekf" type="gps_ins_node" name="gps_ins_node" output="screen" required="true">

    <!-- Note: parameters declared in the launch file will overwrite those in the yaml file -->
    <!-- <rosparam file="$(find path_duplication_launch)/config/kvh1725_rightAntenna.yaml" command="load" /> -->
    <!-- <rosparam file="$(find path_duplication_launch)/config/kvh1725_centerAntenna.yaml" command="load" /> -->

    <rosparam file="$(find path_duplication_launch)/config/kvh1725_centerMiddleAntenna.yaml" command="load" />
    
    <param name="queue_size" value="1000"/>
  
  </node>

</launch>
