<launch>

    <arg name="doViz" default="1"/>
    <arg name="doBag" default="0"/>

    <!-- global parameters -->
    <param name="latitude_reference" value="32.5955"/> <!-- Skid pad lat/long -->
    <param name="longitude_reference" value="-85.2954"/>

    <!-- Novatel (follower) -->
    <include file="$(find path_duplication_launch)/launch/novatel_rear.launch"/>

    <!-- Novatel (leader) -->
    <include file="$(find path_duplication_launch)/launch/novatel_front.launch"/>

    <!-- KVH -->
    <include file="$(find path_duplication_launch)/launch/kvh1725.launch"/>

    <!-- DRTK -->
    <include file="$(find path_duplication_launch)/launch/drtk.launch"/>

    <!-- TDCP -->
    <include file="$(find path_duplication_launch)/launch/tdcp.launch"/>

    <!-- GPS/INS -->
    <include file="$(find path_duplication_launch)/launch/kvh_gps_ins.launch" />

    <!-- Path Duplication -->
    <include file="$(find path_duplication_launch)/launch/path_duplication.launch"/>

    <!-- MKZ Steer Control -->
    <include file="$(find path_duplication_launch)/launch/mkz_control.launch"/>

    <!-- DBW -->
    <include file="$(find path_duplication_launch)/launch/dbw_for_steer_only.launch"/>

    <!-- Rosbag record -->
    <node if="$(arg doBag)" pkg="rosbag" type="record" name="bagman" args="-a -b 0 -o /home/gavlab/devel/path_duplication_ws/data/path_duplication/pd_demo"/>

    <!-- Visualization -->
    <include if="$(arg doViz)" file="$(find path_duplication_launch)/launch/path_duplication_viz.launch"/>

</launch>
