<launch>

    <!-- global parameters -->
    <param name="latitude_reference" value="32.5955"/> <!-- Skid pad lat/long -->
    <param name="longitude_reference" value="-85.2954"/>

    <!-- KVH -->
    <include file="$(find path_duplication_launch)/launch/kvh1725.launch"/>

    <!-- GPS/INS -->
    <include file="$(find path_duplication_launch)/launch/kvh_gps_ins.launch" />

    <!-- Novatel -->
    <include file="$(find path_duplication_launch)/launch/novatel_rear.launch"/>

    <!-- Heading error publisher -->
    <node pkg="prowler_steer_control" type="heading_error_publisher.py" name="heading_error_publisher" output="screen" required="true">
        <!-- control_reference_type (0=step input, 1=sinusoidal) -->
        <param name="control_reference_type" value="0"/> 
        <param name="yaw_amplitude_deg" value="15.0"/>
        <param name="time_interval" value="3.0"/>

    </node>

    <!-- Prowler Steer Control -->
    <node pkg="prowler_steer_control" type="prowler_steer_control_node.py" name="prowler_steer_control_node" output="screen" required="true">
        <param name="control_reference_topic" value="/heading_error_publisher/headingControlReference" type="string"/>
        <param name="velocity_topic" value="/novatel_rear/odom" type="string"/>
    </node>

    <!-- Rosbag record -->
    <node pkg="rosbag" type="record" name="bagman" args="-a -b 0 -o /home/gavlab/devel/path_duplication_ws/data/heading_control"/>

</launch>
