<launch>

    <!-- global parameters -->
    <param name="latitude_reference" value="32.5955"/> <!-- Skid pad lat/long -->
    <param name="longitude_reference" value="-85.2954"/>

    <!-- Novatel (follower) -->
    <include file="$(find path_duplication_launch)/launch/novatel_rear.launch"/>

    <!-- Novatel (leader) -->
    <include file="$(find path_duplication_launch)/launch/novatel_front.launch"/>

    <!-- Novatel (rear right) -->
    <include file="$(find path_duplication_launch)/launch/novatel_rear_right.launch"/>

    <!-- KVH -->
    <include file="$(find path_duplication_launch)/launch/kvh1725.launch"/>

    <!-- DRTK -->
    <include file="$(find path_duplication_launch)/launch/drtk.launch"/>

    <!-- TDCP -->
    <include file="$(find path_duplication_launch)/launch/tdcp.launch"/>

    <!-- GPS/INS -->
  <!-- GPS/INS -->
  <node pkg="ins_ekf" type="gps_ins_node" name="gps_ins_node" output="screen" required="true">
    <rosparam file="$(find path_duplication_launch)/config/kvh1725_leftAntenna.yaml" command="load" />
  </node>

    <!-- Path Duplication -->
    <include file="$(find path_duplication_launch)/launch/path_duplication.launch"/>

    <!-- MKZ Cascaded Control -->
    <node pkg="mkz_control" type="cascaded_lateral_control.py" name="cascaded_lateral_control" output="screen" required="true"/>

    <!-- DBW -->
    <include file="$(find path_duplication_launch)/launch/dbw_for_steer_only.launch"/>

    <!-- Rosbag record -->
    <node pkg="rosbag" type="record" name="bagman" args="-a -b 0 -o /home/gavlab/devel/convoy_ws/data/latposctrl/skidpad"/>

</launch>
