<launch>

	<arg name="pollPeriod" default="0.5" />	

	<!-- Start the novatel node -->
	<node pkg="novatel" type="novatel_node" name="novatel_node" output="screen" required="true">

		<param name="port" value="/dev/ttyUSB1" />
		<param name="baudrate" value="115200" />

	    <param name="log_align_baseline" value="false" />

    	<param name="gps_default_logs_period" value="$(arg pollPeriod)" />
		<param name="range_default_logs_period" value="$(arg pollPeriod)" />
		<param name="ephemeris_default_logs_period" value="10.0" />
    	
	</node>

</launch>
