<launch>

  <!-- Path Duplication -->
  <node pkg="path_duplication" type="path_duplication_node" name="path_duplication_node" output="screen" required="true">

      <param name="tdcp_topic" value="/tdcp_node/tdcpOutput" type="string"/>
      <param name="drtk_topic" value="/drtk_node/drtkOutput" type="string"/>
      <param name="queue_size" value="0"/>

      <param name="gps_time_step" value="0.5"/>
      <param name="lookahead_distance_scale" value="1.5"/>
      <param name="lookahead_distance_minimum" value="1.0"/>
      <param name="require_precise_drtk" value="true"/>


  </node>

</launch>
