<launch>

    <arg name="setId" default="1"/>

    <arg name="processNewPath" default="true"/>
    
    <!-- arguments -->
    <arg name="bagpath" default="/media/psf/Home/Google\ Drive/GAVLAB/data/mkz/path_duplication_1_13_18"/>

    <!-- rosbag play -->
    <param name="use_sim_time" value="true"/>
    <node name="rosbag" pkg="rosbag" type="play" args="--clock -s 30 -r 1.0 $(arg bagpath)/path_duplication_$(arg setId).bag" output="screen" required="true" >
        <remap if="$(arg processNewPath)" from="/path_duplication_node/virtualLeadRpv" to="/path_duplication_node_live/virtualLeadRpv"/>
        <remap if="$(arg processNewPath)" from="/path_duplication_node/headingControlReference" to="/path_duplication_node_live/headingControlReference"/>
        <remap if="$(arg processNewPath)" from="/path_duplication_node/path" to="/path_duplication_node_live/path"/>
        <remap if="$(arg processNewPath)" from="/path_duplication_node/headingDesired" to="/path_duplication_node_live/headingDesired"/>
        <remap from="/tf" to="/tf_live"/>
    </node>

    <!-- global parameters -->
    <param name="latitude_reference" value="32.5955"/> <!-- Skid pad lat/long -->
    <param name="longitude_reference" value="-85.2954"/>

    <!-- path duplication -->
    <include if="$(arg processNewPath)" file="$(find path_duplication)/launch/path_duplication.launch"/>

    <!-- command velocity repeater -->
    <!-- <node name="cmd_vel_zoh" pkg="path_duplication" type="cmd_vel_zoh.py" output="screen" /> -->

    <!-- WGS Conversions Server -->
    <node name="wgs_server" pkg="wgs_conversions" type="wgs_conversions_server" output="screen" />

    <!-- TF broadcaster -->
    <node name="nav_to_tf" pkg="path_duplication" type="nav_to_tf.py" output="screen" />

    <!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find path_duplication)/rviz/path.rviz"/>

    <!-- TDCP (lead) -->
    <node if="false" pkg="tdcp" type="tdcp_node" name="tdcp_front" output="screen" >
        <param name="elevation_mask_angle" value="15.0"/>
        <param name="ephemeris_topic" value="/novatel_front/gpsEphemerisTagged" type="string"/>
        <param name="raw_measurements_topic" value="/novatel_front/rawMeasurementsTagged" type="string"/>
        <param name="queue_size" value="0" />
    </node>
    
    <!-- record -->
    <!-- <node name="bagman" pkg="rosbag" type="record" args="-a -b 0 -O z_path_duplication_2018-01-13-18-35-49.bag" /> -->
    
</launch>
