<launch>

    <!-- global parameters -->
    <param name="latitude_reference" value="32.5955"/> <!-- Skid pad lat/long -->
    <param name="longitude_reference" value="-85.2954"/>

        <!-- arguments -->
    <arg name="bagpath" default="/media/psf/Home/Google\ Drive/GAVLAB/data/prowler/10_31_17"/>
    <arg name="bagfile" default="$(arg bagpath)/path_duplication_data"/>

    <!-- rosbag play -->
    <param name="use_sim_time" value="true"/>
    <node name="rosbag" pkg="rosbag" type="play" args="-q -s 20 --clock -r 1.0 $(arg bagfile).bag" output="screen" >
        <!-- <remap from="/gps_ins_node/odom" to="/gps_ins_node_live/odom"/> -->
        <!-- <remap from="/ackermann_cmd" to="/ackermann_cmd_live"/> -->
    </node>

    <!-- DRTK -->
    <include file="$(find path_duplication_launch)/launch/drtk.launch"/>

    <!-- TDCP -->
    <include file="$(find path_duplication_launch)/launch/tdcp.launch"/>

    <!-- GPS/INS -->
    <include file="$(find path_duplication_launch)/launch/gps_ins.launch"/>

    <!-- Path Duplication -->
    <include file="$(find path_duplication_launch)/launch/path_duplication.launch"/>

    <!-- Prowler Steer Control -->
    <include file="$(find path_duplication_launch)/launch/prowler_steer_control.launch"/>

    <!-- Rosbag record -->
    <node pkg="rosbag" type="record" name="bagman" args="-a -b 0 -O $(arg bagfile)_playback.bag"/>

</launch>
