<launch>

    <!-- arguments -->
    <arg name="bagpath" default="/media/psf/Home/gavlab_local/data/path_duplication/uwb_path_6_28_18"/>
    <!-- <arg name="bagfile" default="skid_pad_final_1_gpsRosTimeFix.bag"/> -->
    <arg name="bagfile" default="skid_pad_final_1.bag"/>

    <!-- rosbag play -->
    <param name="use_sim_time" value="true"/>

    <node name="rosbag" pkg="rosbag" type="play" args="--clock -q -s 0 -r 1.0 $(arg bagpath)/$(arg bagfile)" required="true" >
    </node>

    <!-- global parameters -->
    <!-- <param name="latitude_reference" value="32.6059"/> --> <!-- B-zone by The Village -->
    <!-- <param name="longitude_reference" value="-85.4935"/> -->

    <param name="latitude_reference" value="32.5955"/> <!-- Skid pad lat/long -->
    <param name="longitude_reference" value="-85.2954"/>

    <!-- GPS/INS -->
  <node pkg="ins_ekf" type="gps_ins_node" name="gps_ins_node" output="screen" required="true">
    <!-- Note: parameters declared in the launch file will overwrite those in the yaml file -->
    <rosparam file="$(find path_duplication_launch)/config/kvh1725_centerMiddleAntenna.yaml" command="load" />
    <param name="queue_size" value="1000"/>
  </node>
    <!-- Path Duplication -->
      <node pkg="path_duplication" type="path_duplication_node" name="path_duplication_node" output="screen" required="true">
          <param name="tdcp_topic" value="/tdcp_node/tdcpOutput" type="string"/>
          <param name="drtk_topic" value="/drtk_node/drtkOutput" type="string"/>
          <param name="queue_size" value="10000"/>

          <param name="gps_time_step" value="0.5"/>
          <param name="lookahead_distance_scale" value="1.0"/>
          <param name="lookahead_distance_minimum" value="1.0"/>
          <param name="require_precise_drtk" value="true"/>

        <param name="minimum_waypoint_spacing" value="0.5"/>
      </node>

    <!-- Rosbag record -->
    <node pkg="rosbag" type="record" name="bagman" args="-a -b 0 -O /home/parallels/Desktop/processed/$(arg bagfile)"/>

</launch>
