<launch>


    <!-- arguments -->
    <!-- <arg name="bagpath" default="/media/psf/Home/Google\ Drive/GAVLAB/data/trucks/8_9_17"/> -->
    <!-- <arg name="bagfile" default="$(arg bagpath)/grouping_mode_1_trucks_moving_run_1_2017-08-09-14-30-47.bag"/> -->


    <!-- /Users/danpierce/Google\ Drive/GAVLAB/data/trucks/7_22_17/radar_groupin_mode_2_test_1_2017-07-22-14-47-41.bag -->

    <arg name="bagpath" default="/media/psf/Home/Google\ Drive/GAVLAB/data/trucks/8_9_17"/>
    <arg name="bagfile" default="$(arg bagpath)/grouping_mode_1_trucks_moving.bag"/>

    <!-- rosbag play -->
    <param name="use_sim_time" value="true"/>
    <node name="rosbag" pkg="rosbag" type="play" args="-s 0 --clock -r 1.0 $(arg bagfile)" output="screen" >
        <remap from="/denso_node/remote_rawMeasurementsTagged" to="/novatel_front/rawMeasurementsTagged"/>
        <remap from="/denso_node/remote_odom" to="/novatel_front/odom"/>
        <remap from="/drtk/drtkOutput2" to="/drtk_node/drtkOutput"/>
    </node>

    <!-- TDCP Rear -->
    <node pkg="tdcp" type="tdcp_node" name="tdcp_rear" output="screen" >
        <param name="ephemeris_topic" value="/novatel_rear/gpsEphemerisTagged" type="string"/>
        <param name="raw_measurements_topic" value="/novatel_rear/rawMeasurementsTagged" type="string"/>
    </node>

    <!-- TDCP Front -->
    <node pkg="tdcp" type="tdcp_node" name="tdcp_front" output="screen" >
        <param name="ephemeris_topic" value="/novatel_rear/gpsEphemerisTagged" type="string"/>
        <param name="raw_measurements_topic" value="/novatel_front/rawMeasurementsTagged" type="string"/>
    </node>

    <!-- rosbag -->
    <node pkg="rosbag" type="record" name="bagman" output="screen" args="-a -b 0 -O $(arg bagpath)/grouping_mode_1_trucks_moving_with_tdcp" />

</launch>
