<launch>

  <!-- TDCP -->
  <node pkg="tdcp" type="tdcp_node" name="tdcp_node" output="screen" required="true">
    <param name="elevation_mask_angle" value="15.0"/>
    <param name="ephemeris_topic" value="/novatel_rear/gpsEphemerisTagged" type="string"/>
      <param name="raw_measurements_topic" value="/novatel_rear/rawMeasurementsTagged" type="string"/>
    <param name="queue_size" value="0" />
  </node>

</launch>
